body{
    margin: 0;
}

.outcontainer{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
}

.circleleft{
    position: relative;
    background-color: rgb(65, 65, 189);
    border: 1px transparent rgb(65, 65, 189);
    border-radius: 100% 0% 97% 3% / 0% 74% 26% 100%;
}