

body{
    margin: 0;
    height: 100vh;
}

.outcontainer{
    position: relative;
    width: 100vw;
    height: 725px;
    background-color: rgb(62, 62, 192);
}


.topname{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding-top: 20px;
    font-size: 20px;
    color: aliceblue;
    font-style: unset;
}

.shop{
    display: flex;
    width: 30px;
    height: 30px;
    margin-bottom: 0px;
    color: aliceblue;
}

.sh{
    display: flex;
    align-items: center;
}

.sell{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 32px;
    color: aliceblue;
}

.true{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 40px;
    word-spacing: 10px;
}

.world{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 40px;
}

.gmailcont{
    margin-top: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kidgmail{
    display: flex;
    width: 600px;
    height: 50px;
    justify-content: space-evenly;

}

.start{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    font-weight:100;
    
}

.gmail{
    display: flex;
    align-items: center;
    height: 50px;
    width: 280px;
    overflow: hidden;
    border-radius: 7px;
}

h1{
    margin-bottom: 17px;
}

.Try{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 14.5px;
    margin-top: 24px;
}

.Try2{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 14.5px;
    margin-top: 5px;
}


.men{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
    background-color: aliceblue;
    border-radius: 30px;
    margin-right: 163px;

}

.women{
    display: flex;
    width: 550px;
    height: 350px;
}

.sos{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    right: 217px;
}

.phone{
    width: 300px;
    height: 300px;
}

.phoneborder{
    height: 300px;
    width: 170px;
    position: relative;
}

.footercon{
    height: 500px;
    width: 100vw;
}

.circleleft{
    background-color: rgb(65, 65, 189);
    border-radius: 0% 100% 100% 0% / 32% 0% 100% 68%;
    width: 700px;
    top: 60px;
    height: 337px;
    margin-left: 0px;
}

.circleright{
    background-color: rgb(65, 65, 189);
    border-radius: 47% 53% 49% 51% / 34% 51% 49% 66%;
    width: 330px;
    height: 330px;
}